@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Author Module</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("Author", "New", "Authors")</li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Category Module</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("Category", "New", "Categorys")</li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Seller Module</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("SellarInfo", "SellerEntry", "Sellers")</li>
                <li>@Html.ActionLink("SellarList", "List", "Sellers")</li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Book Module</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("BookInfo", "BooksEntry", "Books")</li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Book_Purches Module</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("Book_Purches", "New", "Purches")</li>
            </ul>
        </li>
    </ul>
        @* END Menu *@
    </section>
</aside>