@model Pims.Core.ViewModel.AuthorViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Author From</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => Model.Name, "Name*", htmlAttributes: new { @class = "Label-control" })
                            @Html.EditorFor(model => Model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => Model.Name, "", new { @Class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => Model.Country, "Country", htmlAttributes: new { @class = "Label-control" })
                            @Html.EditorFor(model => Model.Country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => Model.Country, "", new { @Class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, "Gender", htmlAttributes: new { @class = "control-label" })
                            <select name="Gender" id="Gender" class="form-control" tabindex="13" ,>
                                <option selected>select</option>
                                <option type="text">Male</option>
                                <option type="text">Female</option>
                                <option type="text">Other</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            @Html.HiddenFor(c => c.Id)
                            <div class="form-group col-md-2 col-sm-2">
                                <input type="button" id="btnSubmit" value="Submit" class="btn btn-primary btn-block" />
                            </div>
                            <div class="form-group col-md-2 col-sm-2">
                                <input type="button" id="btnRefresh" value="Cancle" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">Author List</div>
            <div class="box-body">
                <table id="AuthorHistory" class="table table-bordered table-hover display ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Country</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript
 {

    <script src="~/Scripts/FromScript/author.js"></script>
}

